.deadCell{
				width: 10px;
				height: 10px;
				border: 1px solid black;
				float: left;
				background-color: white;				
}

.lifeCell{
				width: 10px;
				height: 10px;
				border: 1px solid black;
				float: left;
				background-color: black;				
}

